@import "~bootstrap/scss/bootstrap.scss";

notice{
  text-align:center;
}

.alert{
  text-align:center;
}


.actions{
    text-align:center;
}

.btn{
    margin:20px 0px;
}

.dash-boards{
  text-align:center;
}

.btn-edit{
  margin-bottom:0px;
  width:150px
}

.btn-logout{
  margin-top:0px;
  width:150px;
}

.account-delete{
  text-align:center;
} 
