/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 // ***** 次を追加 *****
//  @import "bootstrap/scss/bootstrap";
// ***** 以上を追加 *****
// @import "bootstrap-sprockets";
@import "bootstrap";
// @import "protospace";
// max-width

.actions{
  text-align:center;
}

.btn-login{
  margin:20px 0px;
}


.btn-edit{
  margin-bottom:0px;
  width:150px
}

.btn-logout{
  margin-top:0px;
  width:150px;
}

.account-delete{
  text-align:center;
}

// フラッシュメッセージ //
.alert-notice{
  text-align:center;
  color:#31708f;
  background-color:#d9edf7;
}

.alert-alert{
  text-align:center;
  color:#a94442;
  background-color:#f2dede;
}
