<p><%= @email %>様</p>

<p>以下のリンクをクリックし、メールアドレスの確認手続きを完了させてください。</p>

<p><%= link_to 'アカウントメールの確認はこちら', confirmation_url(@resource, confirmation_token: @token) %></p>


<%
=begin%>
 <p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p> 
<%
=end%>
